.game-area {
  position: relative;
  margin: 50px auto;
  width: 608px;
  height: 608px;
  border: 2px solid black;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: black;
  border: 1px solid white;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index: 1;
}

.info {
  color: #06065b;
  font-size: 28px;
  font-family: Arial;
  text-align: center;
}

.button {

}